@media (width < 1300px){
    nav{
        padding: 1.4vw 3vw;
        padding-bottom: 0;
        
    }
}

@media (width < 1000px){
    .second-screen{
        flex-direction: column;
    }

    .div-text-feature{
        order: -1;
    }

    
}