*{
  box-sizing: border-box;
   margin: 0;
}

:root{
    /* color */
    --bg-color: #FAF8FA;
    --primary-color: #883F8F;
    --border-color: #BDA7BF;
    --border-color-light: #EBE4EA;
    --dark-bg: #5A285F;
    /* font size */
    --title-lg: 2.625rem;
    --title-md: 1.875rem;
    --title-md-rg: 1.6rem;
    --title-rg: 1.25rem;
    --title-sm: 1rem;
}

html{
    color-scheme: light;
}

body {
    font-family: "geist", system-ui;
    margin: 0;
    background-color: var(--bg-color);
    color: black;
}

p{
    color: black;
}

a{
    color: black;
    text-decoration: none;
    font-weight: 450;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 44px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    background-color: var(--bg-color);
    /* border-bottom: 0.7px solid #e1d0e2; */
}



.nav-left-half, .nav-right-half{
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.logo-img{
    width: 164px;
}

nav .ph-magnifying-glass{
    font-weight: 900;
    font-size: 1.1rem;
    color: var(--primary-color);
}

nav a{
    padding: 0.5rem 0;
    /* background-color: #825B84; */
}

nav a:hover:not(.primary-btn):not(.website-logo){
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    /* border-radius: 2rem; */
}

.website-logo:hover{
    scale: 1.01;
    transition: scale 0.2s ease-in-out;
}

.primary-btn{
    background-color: var(--primary-color);
    padding: 10px 24px;
    color: var(--bg-color);
    border-radius: 2rem;
}

.primary-btn:hover{
    background-color: var(--dark-bg);
    transition: background-color 0.2s ease;
}

.primary-btn-search{
    border-radius: 0;
}


h1, h2, h3, h4{
    color: black;
    font-family: "larken";
}

h1{
    
    font-size: var(--title-lg);
}

h2{
    font-size: var(--title-md);
    font-weight: 500;
    line-height: 1.2;
}

h3{
    font-size: var(--title-rg);
    color: #5B2960;
    
    font-weight: 400;
    order: -1;
}

h4{
    text-transform: capitalize;
    font-size: var(--title-rg);
    font-weight: 450;

}

.dev-note{
    color: rgb(255, 106, 0);
}

.div-screen{
    height: 100vh;
    position: relative;
    /* background-color: aliceblue; */
}

.homescreen-center-ui{
    position: absolute;
    top: 30vh;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.homescreen-center-ui > p{
    text-align: center;
    width: 40ch;
    font-size: 0.95rem;
    padding-top: 0.5rem;
}

.home-logo{
    width: 80px;
}

.input-bar{
    background-color: white;

    border: 0.5px solid #BDA7BF;
    border-radius: 20px;
    width: 80%;
    max-width: 680px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.input-bar-controls{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    
    /* gap: 1.625rem; */
}

.input-bar-controls a{
    color: var(--primary-color);
    font-size: 0.95rem;
}


.input-bar input{
    border: none;
    font-size: 1rem;
    color: #5B2960;
    display: inline-block;
    /* width: 100%; */
    flex: 1;
    /* background-color: aqua; */
}

.input-bar input:focus{
    outline: none;
}

input{
    background-color: white;
}

.homescreen-center-ui .input-bar button{
    /* padding-inline: 1.2rem; */
    border: none;
    font-size: 1.4rem;
    background-color: var(--primary-color);
    color: white;
    padding-inline: 1rem;
    padding-right: 1.2rem;
}

.msg-scrolldown{
    position: absolute;
    bottom: 3.5rem;
    width: 100vw;
    text-align: center;
    color: #946897;
}

.msg-scrolldown .ph-caret-down{
    font-size: 1.7rem;
    display: inline-block;
    margin-top: 0.5rem;
    
}



.second-screen, .third-screen, .fourth-screen, .fifth-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.fifth-screen{
    flex-direction: column;
    align-items: center;
    
}

.fifth-screen > div{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.second-screen > img{
    width: 450px;
    height: 470px;
}

.third-screen > img{
    width: 450px;
    height: 470px;
}

.fourth-screen > img{
    width: 350px;
    height: 350px;
}


.div-text-feature{
    display: flex;
    flex-direction: column;
    width: 46ch;
    order: 2;
    gap: 0.8rem;
}

.third-screen .div-text-feature{
    order: -1;
}

.headings{
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.cards-doc{
    display: flex;
    gap: 2rem;
    width: 1000px;
}

.card-glossary{
    display: flex;
    flex-direction: column;
    border: 0.8px solid var(--border-color-light);
    border-radius: 1rem;
    width: 100%;
    max-width: 384px;
    overflow: hidden;
    /* background-color: #F4F0F4; */
    background-image: url("assets-gvd/blog-thumbnail-placeholder.png");
    background-size: cover;
    justify-content: end;
}

.cards-blog{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-blog{
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    height: 180px;
    width: 70vw;
    max-width: 580px;
    border: 0.8px solid var(--border-color-light);
    background-color: white;
    
}

.card-glossary .card-text{
    background-color: white;
    padding: 1.75rem 2rem;
    padding-top: 1.5rem;
    justify-self: center;
}

.card-blog .card-text{
    padding-inline: 1.75rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.heading-caption{
    color: black;
    font-family: "geist";
}

.card-text h3{
    font-size: var(--title-sm);
}

.card-glossary .card-text h3{
    font-size: var(--title-rg);
    margin-bottom: 0.5rem;
}

/* footer */
footer{
    background-color: var(--dark-bg);
    color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
}

footer a, footer p{
    color: white;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.div-logo-copyright{
    display: flex;
    justify-content: space-between;
}

.logo-humanities{
    height: 1.5rem;
}

.logo-washu{
    height: 2.2rem;
}

.footer-nav{
    padding: 0;
    flex: 1;
}

.footer-nav li{
    list-style: none;
    font-size: var(--title-rg);
    border-bottom: 1px solid #825B84;
    padding: 1rem 0px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-nav li:first-child{
    padding-top: 0px;
}

.footer-nav li a{
    color: white;
    font-family: "Larken";
    font-weight: 400;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.footer-contact a{
    text-decoration: none;
    /* color: #bf89c2; */
}

.footer-contact a:hover{
    text-decoration: underline;
    /* color: #bf89c2; */
}

.contact-header{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.4rem;
}

address{
    font-style: normal;
}

.help-tip{
    background-color: #6D3172;
    border: 1px solid #883F8F;
    border-radius: 20px;
    padding: 1.4rem 1.8rem;
    display: flex;
    align-items: center;
    width: 40%;
    max-width: 440px;
    gap: 1rem;
    height: fit-content;
}

.help-tip h3{
    color: white;
    font-size: var(--title-rg);
    margin-bottom: 0.4rem;
}

.help-tip .ph-bold{
    font-size: var(--title-md);
}

/* glossary sidebar */
.sidebar{
    position: sticky;
    top: calc(108px + 5vh);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 320px;
    align-self: flex-start;
    margin-bottom: 128px;
}

.sidebar-header{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}



.icon-btn{
    font-size: 1.6rem;
    width: fit-content;
    padding: 4px;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    background-color: transparent;
}

.icon-btn:hover{
    background-color: #F5F1F5;
}


.glossary-info-btn .ph-info{
    color: var(--primary-color);
}

.glossary-info-btn:hover{
    background-color: #F5F1F5;
}


/* glossary search */

.sidebar .input-bar{
    width: 100%;
}

.glossary-search-bar{
    
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#glossary-search{
    flex: 1;
    padding: 0.5rem 0.75rem;
    min-width: 0;
    font-size: 0.95rem;
}

.sidebar .glossary-nav button{
    /* background-color: white; */
    color: black;
    padding-right: 0.5rem;
}

.input-bar button{
    background-color: white;
    border: none;
    padding-right: 0.8rem;
}


/* glossary navigation */
.glossary-nav{
    /* margin-top: 19.5rem; */
    position: relative;
    padding: 0;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    /* max-width: 300px; */
    
    max-height: calc(100vh - 40vh);
    overflow-y: auto;
    flex: 1;
}

.glossary-nav-section{
    
    width: 100%;
    /* flex: 1; */
    overflow: scroll;
    min-height: 44px;
    
}

.glossary-nav-section-count{
    font-family: "geist mono", monospace;
    font-weight: 400;
}

.glossary-nav-section:not(:first-child){
    border-top: 1px solid var(--border-color);
}

.glossary-nav-section:last-child{
    min-height: 64px;
}

.glossary-nav-section-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0;
    
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-family: "larken", serif;
    font-size: 0.95rem;
    color: var(--dark-bg);
    font-weight: 500;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    
    /* border-bottom: 1px solid var(--border-color); */
}


.glossary-nav-section-header:hover{
    color: var(--primary-color);
}

/* right caret icon */
.glossary-nav-section-header .ph-bold{
    /* font-size: 0.75rem; */
    color: var(--primary-color);
    transition: transform 0.2s;
    height: fit-content;
    display: inline-block;
    font-size: 1rem;
}

.glossary-nav-section-header .ph-bold.is-rotated{
    transform: rotate(-90deg);
}

.glossary-nav-items{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    display: none;
    flex: 1;
    overflow: scroll;
    height: 100%;

}


.glossary-nav-section.expanded .glossary-nav-items{
    display: block;
}

.glossary-nav-item{
    margin: 0.5rem 0;
}

.glossary-nav-item a{
    font-size: 0.875rem;
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0.25rem 0;
    line-height: 1.4;
}

.glossary-nav-item a:hover{
    color: var(--primary-color);
}

/* glossary search controls */
.glossary-search-controls{
    display: flex;
    align-items: center;
    gap: 0rem;
    flex: 0 0 auto;
}

.glossary-search-controls.is-hidden{
    display: none;
}

.glossary-search-icon{
    padding: 0;
    font-size: 1.2rem;
}

.glossary-search-icon.is-hidden{
    display: none;
}

.sidebar .ph-bold{
    color: var(--primary-color);
}


.glossary-search-count{
    font-size: 0.75rem;
    color: #555;
    font-family: "geist mono", monospace;
    min-width: 3.5rem;
    text-align: right;
    flex: 0 0 auto;
}

.glossary-search-btn{
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    padding: 0rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.glossary-search-btn:disabled{
    opacity: 0.4;
    cursor: default;
}

#glossary-search-next, #glossary-search-prev, #glossary-search-clear, .glossary-search-count{
    padding-inline: 5px;
    
}

#glossary-search-next, #glossary-search-prev, #glossary-search-clear{
    font-size: 1.2rem;
}



/* glossary main content */
.container-glossary-main-content{
    display: flex;
    gap: 2rem;
    flex: 1;
    min-width: 0;
    justify-content: center;
}

.glossary-page{
    /* padding-top: 100px; */
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    padding-top: calc(108px + 5vh);
    min-height: 100vh;
    height: auto;
    position: relative;
    margin-inline: auto;
    max-width: 1200px;
    /* padding-top: calc(108px + 5vh); */
}

.glossary-main-content{
    /* margin-left: 380px; */
    /* margin-right: 44px; */
    max-width: 800px;
    width: 100%;
    margin-top: 0;
    /* margin-top: 10vh; */
    padding-bottom: 4rem;
    margin-inline: 0;
}

.glossary-section{
    margin-bottom: 4rem;
}

.glossary-section-title{
    font-size: var(--title-md);
    font-weight: 500;
    margin-bottom: 2rem;
    color: var(--dark-bg);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 0.5rem;
}

.glossary-items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.glossary-item{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    scroll-margin-top: 120px;
}

.glossary-item.is-match{
    background-color: rgba(136, 63, 143, 0.08);
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
}

.glossary-item.is-active-match{
    background-color: rgba(136, 63, 143, 0.18);
}

.glossary-search-highlight{
    background-color: rgba(0, 184, 219, 0.5);
    border-radius: 3px;
    padding: 0 2px;
}

.glossary-search-highlight.is-active{
    background-color: rgb(255, 210, 48);
}

/* glossary info modal */
.glossary-modal{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.glossary-modal.is-hidden{
    display: none;
}

.glossary-modal-content{
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 2.2rem 2.5rem;
    max-width: 540px;
    width: 100%;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.15);
}

.glossary-modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.7rem;
}

.glossary-modal-close{
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.glossary-modal-actions{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    
}

.glossary-modal-done{
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding-inline: 3rem;
}

.glossary-item-level-1{
    margin-left: 0;
}

.glossary-item-level-2{
    margin-left: 0.75rem;
    margin-top: 1rem;
}

.glossary-item-level-3{
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.glossary-item-level-4{
    margin-left: 4rem;
    margin-top: 0.5rem;
}

.glossary-item-number{
    font-weight: 600;
    color: var(--primary-color);
    font-family: "geist mono", monospace;
}

.glossary-item-title{
    margin: 0;
    font-weight: 500;
    color: var(--dark-bg);
}

.glossary-item-level-1 .glossary-item-title{
    font-size: var(--title-rg);
}

.glossary-item-level-2 .glossary-item-title{
    font-size: 1.1rem;
}

.glossary-item-level-3 .glossary-item-title,
.glossary-item-level-4 .glossary-item-title{
    font-size: 1rem;
}

.glossary-item-description{
    margin: 0.5rem 0 0 0;
    line-height: 1.6;
    color: #333;
    font-size: 0.95rem;
}

.glossary-subitems{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-left: 1px solid var(--border-color);
    padding-left: 1.5rem;
    margin-left: 1rem;
}