*{
  box-sizing: border-box;
   margin: 0;
}

:root{
    --bg-color: #FAF8FA;
    --primary-color: #883F8F;
}

body {
    font-family: "geist", system-ui;
    margin: 0;
    background-color: var(--bg-color);
}

a{
    color: black;
    text-decoration: none;
    font-weight: 450;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 44px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    background-color: var(--bg-color);
}

.nav-left-half, .nav-right-half{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo-img{
    width: 164px;
}

nav .ph-magnifying-glass{
    font-weight: 900;
    font-size: 1.1rem;
}

.btn-get-help{
    background-color: var(--primary-color);
    padding: 10px 24px;
    color: var(--bg-color);
    border-radius: 2rem;
}

h1{
    font-family: "larken";
    font-size: 2.625rem;
}

.div-screen{
    height: 100vh;
    position: relative;
    /* background-color: aliceblue; */
}

.homescreen-center-ui{
    position: absolute;
    top: 31vh;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.homescreen-center-ui > p{
    text-align: center;
    width: 40ch;
    font-size: 0.95rem;
    padding-top: 0.5rem;
}

.home-logo{
    width: 80px;
}

.input-bar{
    background-color: white;

    border: 0.5px solid #BDA7BF;
    border-radius: 20px;
    width: 80%;
    max-width: 729px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.input-bar-controls{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    /* gap: 1.625rem; */
}

.input-bar-controls a{
    color: var(--primary-color);
    font-size: 0.95rem;
}


.input-bar input{
    border: none;
    font-size: 1rem;
    color: #5B2960;
    display: inline-block;
    /* width: 100%; */
    flex: 1;
    /* background-color: aqua; */
}

.input-bar input:focus{
    outline: none;
}



.input-bar button{
    padding-inline: 1.2rem;
    border: none;
    font-size: 1.4rem;
    background-color: var(--primary-color);
    color: white;
}

.msg-scrolldown{
    position: absolute;
    bottom: 2rem;
    width: 100vw;
    text-align: center;
    color: #946897;
}